/*
@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url(../../../static/fonts/Archia/archia-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
*/
@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(../../../static/fonts/DMSans/DMSans-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Archia";
  src: url(../../../static/fonts/Archia/archia-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.gears {
  fill: #df991b;
  height: 60px;
  width: 60px;
}

/* ---------------------------------- */



h1 {
  font-family: "Archia";
}

a {
  color: black;
  text-decoration: none;
}

.gears {
  fill: #df991b;
  height: 60px;
  width: 60px;
}
